.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  1% {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
