.feature {
  &__intro {
    @include breakpoint-up(large) {
      width: 60%;
      margin-bottom: 3.75rem;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0.9375rem;

    @include breakpoint-up(medium) {
      flex: 1 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 2.75rem;
  }

  &__title {
  }

  &__description {
  }
}
