.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: center;
  }

  &__intro {
    @include breakpoint-up(large) {
      width: 60%;
      margin-bottom: 3.75rem;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0.9375rem;

    @include breakpoint-up(medium) {
      flex: 1 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      margin-bottom: 2.75rem;
    }
  }

  &__title {
    font-weight: 300;
    color: $darkBlue;
    line-height: 1.15;
    font-size: 1.25rem;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
      font-size: 1.5rem;
      margin-bottom: 2.125rem;
    }
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
