.hero {
  background: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 40.9375rem;
      background-image: none;
      //background-image: url("/images/bg-intro-desktop.svg");
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("/images/bg-intro-desktop.svg");
      background-size: 93%;
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;

      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
